<aside class="sidebar">
	<nav class="sidebar-nav">
		<ul class="metismenu" id="menu">
			<li class="active">
				<a style="background-color: rgba(255, 255, 255, 0.1);" routerLink="/home" routerLinkActive="active" >
					<i class="icon-grid"></i>&nbsp;<span class="nav-label">Dashboard</span>
				</a>
			</li>
			<li>
				<a routerLink="/login" routerLinkActive="active">
					<i class="fa fa-edit"></i>&nbsp;<span class="nav-label">Espace client</span>
				</a>
			</li>
			<li>
				<a routerLink="/about" routerLinkActive="active">
					<i class="fa fa-users"></i>&nbsp;<span class="nav-label">Contact</span>
				</a>
			</li>
		</ul>
		<!-- END SIDEBAR MENU -->
	</nav>
	<!-- END SIDEBAR -->
</aside>
