<div class="page-content-wrapper">
                    <div class="content-wrapper container">

                      <div class="row" style="margin-right: -30px;margin-left: -30px;">
                            <div class="col-md-12">
                                <div class="panel panel-card" style="background-color: #1a75d2;">
                                    <div class="panel-body" style="#ackground: url(https://www.harmony-hosting.com/bundles/harmonypage/images/hub.png) no-repeat right">
                                        <div id="owl-demo" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
											<h2 style="color: #f9f9f9;font-size: 3em;text-shadow: 0 3px 0 #0e59a5;font-family: Bebas;">PASSEZ À LA VITESSE SUPÉRIEURE</h2>
											<p style="color: #f9f9f9;font-size: 1.3em;text-shadow: 0 3px 0 #0e59a5;font-family: Bebas;">
								                Gardez le contrôle sur votre VPS quelle que soit l’offre !<br>
								                Vitesse garantie, infrastructure réseau 1Gb/s<br>
								                Protection Anti-DDOS Arbor, ne craignez plus les attaques ...<br>
								                Découvrez vos jeux préférés en pré-installation<br>
								                Créez un serveur à votre image, gardez la liberté du choix !<br>
								            </p>
											<button type="button" class="btn btn-success">S'inscrire</button>
											<button type="button" class="btn btn-default">F.A.Q</button>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
							<h2>DES SERVEURS QUI CORRESPONDENT AUX BESOINS DE CHACUN</h2><br>
                        <div class="col-md-4">
                            <div class="panel panel-card">
                                <!-- Start .panel -->
                                <div class="panel-body">
                                    <div id="owl-demo-2" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                                        <div class="owl-wrapper-outer">
											<div class="owl-wrapper">
												<div class="owl-item">
													<div class="item">
														<div class="widget-box clearfix p3-bg">
			                                                <div>
			                                                    <div class="pad-all">
			                                                        <h2>Plutôt débutant ?</h2><br>
			                                                        <p class="mar-no">
			                                                            Example met à disposition de nombreux tutoriels pour vous guider dans toutes les phases de la mise en place de votre projet, de l’installation à la configuration jusqu’au l’amélioration, n’enviez rien aux meilleurs. Nous mettons tout ce qu’il vous faut à disposition !
			                                                        </p>
			                                                    </div>
			                                                    <div class="pad-all text-center">
			                                                        <!--Placeholder--><br>
			                                                        <h4>User Performance</h4>
			                                                        <h2>17,50</h2>
			                                                    </div>

			                                                </div>
			                                            </div>
													</div>
												</div>
											</div>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
						<div class="col-md-4">
                            <div class="panel panel-card">
                                <!-- Start .panel -->
                                <div class="panel-body">
                                    <div id="owl-demo-2" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                                        <div class="owl-wrapper-outer">
											<div class="owl-wrapper">
												<div class="owl-item">
													<div class="item">
														<div class="widget-box clearfix p3-bg">
			                                                <div>
			                                                    <div class="pad-all">
			                                                        <h2>Plutôt gamer ?</h2><br>
			                                                        <p class="mar-no">
			                                                            Grâce aux nombreuses pré-installations disponibles plus de prises de têtes, votre serveur est prêt à jouer dès sa livraison. Votre jeu n’est pas présent sur la liste ? Parlez nous-en sur le chat ou sur le forum, nous vous fournirons un support adapté.
																		<br><br>
																	</p>
			                                                    </div>
			                                                    <div class="pad-all text-center">
			                                                        <!--Placeholder--><br>
			                                                        <h4>User Performance</h4>
			                                                        <h2>17,50</h2>
			                                                    </div>

			                                                </div>
			                                            </div>
													</div>
												</div>
											</div>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
						<div class="col-md-4">
                            <div class="panel panel-card">
                                <!-- Start .panel -->
                                <div class="panel-body">
                                    <div id="owl-demo-2" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                                        <div class="owl-wrapper-outer">
											<div class="owl-wrapper">
												<div class="owl-item">
													<div class="item">
														<div class="widget-box clearfix p3-bg">
			                                                <div>
			                                                    <div class="pad-all">
			                                                        <h2>Plutôt passionné ?</h2><br>
			                                                        <p class="mar-no">
			                                                            Découvrez les nombreuses possibilités mises à votre disposition. Example met à votre disposition de nombreuses distributions Linux à choisir selon votre préférence. Vous avez le contrôle sur votre machine, gardez votre liberté de choix et exprimez-vous librement !
			                                                        </p>
			                                                    </div>
			                                                    <div class="pad-all text-center">
			                                                        <!--Placeholder--><br>
			                                                        <h4>User Performance</h4>
			                                                        <h2>17,50</h2>
			                                                    </div>

			                                                </div>
			                                            </div>
													</div>
												</div>
											</div>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>


					<div class="row">
                        <div class="col-sm-4 margin-b-30">
                            <div class="price-box dark">
                                <h3>MINECRAFT</h3>
                                <h4><sup>&euro;</sup>4.99<span>Par Mois</span></h4>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-tags"></i>Serveur « Prêt-à-jouer »</li>
                                    <li><i class="fa fa-cogs"></i>Compatible Bungeecord/Spigot/...</li>
                                    <li><i class="fa fa-heart"></i>Accès total au VPS</li>
                                    <li><i class="fa fa-star"></i>Ajout de serveurs possible</li>
                                </ul>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                                </p>
                                <a href="#" class="btn btn-primary">Commander maintenant <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div><!--col-->
                        <div class="col-sm-4 margin-b-30">
                            <div class="price-box popular dark">
                                <h3>HEBERGEMENT WEB</h3>
                                <h4><sup>&euro; </sup>4.99<span>Par Mois</span></h4>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-tags"></i>Dashboard</li>
                                    <li><i class="fa fa-cogs"></i>Accès total via FTP</li>
                                    <li><i class="fa fa-heart"></i>Upgradable</li>
                                    <li><i class="fa fa-star"></i>Support</li>
                                </ul>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                                </p>
                                <a href="#" class="btn btn-primary">Commander maintenant <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div><!--col-->
                        <div class="col-sm-4 margin-b-30">
                            <div class="price-box dark">
                                <h3>VPS LINUX</h3>
                                <h4><sup>&euro;</sup>49.99<span>Per Month</span></h4>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-tags"></i>Liberté du choix, accès administrateur</li>
                                    <li><i class="fa fa-cogs"></i>Adresse IP fixe et dédiée</li>
                                    <li><i class="fa fa-heart"></i>De nombreux OS disponibles</li>
                                    <li><i class="fa fa-star"></i>Disque dur SSD en RAID</li>
                                </ul>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                                </p>
                                <a href="#" class="btn btn-primary">Commander maintenant <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div><!--col-->
                    </div>



                    </div>
                    <div class="clearfix"></div>
                    <div class="footer">
                        <div class="pull-right">
                            <a href="">F.A.Q.</a>
                        </div>
                        <div>
                            <strong>Copyright</strong> ... Company © 2018
                        </div>
                    </div>
                </div>
