<!-- <a [ngClass]="{'selected-c': selected === 0 }" routerLink="/home" routerLinkActive="active" (click)="selectedmethod(0);" >home</a>
&nbsp;|&nbsp;
<a [ngClass]="{'selected-c': selected === 1 }" routerLink="/test" routerLinkActive="active" (click)="selectedmethod(1);" >test</a> -->


<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a routerLink="/home" routerLinkActive="active">
				<img src="http://psd2allconversion.com/templates/themeforest/html/absolute/v1.0/html/assets/images/logo.png" alt="absolute admin" class="img-responsive logo-default"/> </a>
		</div>
		<div class="menu-toggler sidebar-toggler">
			<a href="javascript:;" class="navbar-minimalize minimalize-styl-2  pull-left "><i class="fa fa-bars"></i></a>
		</div>
		<!-- END LOGO -->
		<div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-quick-sidebar-toggler">
                                <a routerLink="/login" routerLinkActive="active" class="dropdown-toggle">
                                    <i class="icon-login"></i>
                                </a>
                            </li>
                            <!-- END QUICK SIDEBAR TOGGLER -->
                        </ul>
                    </div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->
